* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  font-size: 14px;
  background-color: rgb(125, 185, 185);
}

h1 {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

.body-grid {
  display: grid;
  grid-template-rows: 140px auto 100px;
  grid-template-columns: 80px auto 80px;
}

.header-grid {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.main-grid {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
/* 
 .main-section1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /*align-self: flex-start;*/
/*

.main-section2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  lign-self: flex-end;
}

.main-section3 {
  display: flex
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main-section4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.main-section5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}  */

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-item1 {
  justify-content: left;
}

.contact-item2 {
  justify-content: right;
  margin-left: 40px;
}

.footer-grid {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: deepskyblue;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565c0;
}

@media (min-width: 800px) {
  .image-profile {
    width: 300px;
  }
}

@media all and (max-width: 800px) {
  .image-profile {
    width: 200px;
  }

  .main-section2 li:nth-of-type(2)::before {
    content: " Responsive ";
  }

  .main-grid {
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    justify-content: right;
    padding: 0;
  }
  .main-grid {
    grid-template-rows: 140px auto auto;
  }
}
.navigation a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation li:last-of-type a {
  border-bottom: none;
}

.image-profile {
  border-style: ridge;
  margin-top: 20px;
}

.flex-logo {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
  max-width: 200px;
}
.logo-item1 {
  width: 50px;
  height: 50px;
  order: 1;
}

.logo-item2 {
  width: 50px;
  height: 50px;
  order: 2;
}

.logo-item3 {
  width: 50px;
  height: 50px;
  order: 3;
}

.contact-element {
  display: inline;
  display: flex;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
